html{
	background-color:aquamarine;
	font-size: 14px;
	width: 100%;
}

h1{
	font-size: 2.5em; /*h1, la taille de la police sera 2.5 fois la taille de police de base*/
}

h2{
	font-size: 1.5em; /*h2, la taille de la police sera 1.5 fois la taille de police de base*/
}

#page{
	text-align: center;
	width: 75%
	margin: 0 auto;
	background-color: yellow;
	border: 4px solid purple;
	border-radius: 15px;
}

.entete{/*mettre un point car class dans html*/
	text-align: center;
}

#aboutme{/*mettre un dièse # car id dans html*/
	text-align: center;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;/*C'est une de mes polices d'écriture préférées*/
	margin: auto;
}
